@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97.3%;
    --foreground: 0 0% 15%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 15%;
    --primary: 199 100% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 192 100% 42%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 91.4%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 192 100% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 199 100% 36%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-inter antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-lato font-bold;
  }
}

@layer utilities {
  .font-inter {
    font-family: var(--font-inter), sans-serif;
  }

  .font-lato {
    font-family: var(--font-lato), sans-serif;
  }
}
